MYTGT=esp32
export ESPBAUD=921600           # mandatory for D1_mini32
export SERIAL=/dev/serial/by-id/usb-Silicon_Labs_CP2104_USB_to_UART_Bridge_Controller_02EXVH5I-if00-port0   # SERIAL_ESP2

#IDF_COMPONENT=$(cat << !
#dependencies:
#  idf:
#    version: '>=4.1.0'
#  # espressif/arduino-esp32 dropped 2026_09_17: no main/*.cpp left, so buildit builds the idf universe
#
#!
#)

#esp32-2   temporary test unit
#esp32-16  esp-living-l 
#esp32-17  esp-living-r 
#esp32-18  esp-dining 
#esp32-19  esp-study 
#esp32-20  esp-bedroom-lower 

if (( ENTITY == 2
   || ENTITY == 16 
   || ENTITY == 17
   || ENTITY == 18
   || ENTITY == 19
   || ENTITY == 20 )); then 

    :
else
    echo ENTITY invalid
    exit
fi


